<form name="form" novalidate>	
	<div class="modal-header">
		    <h3 class="modal-title" id="modal-title" > {{'USER_PROFILE_MODAL.HEADLINE' | translate}}
		    <div class="form-check  pull-right">
		    	<label class="form-check-label" for="onebyone"><h4 translate> USER_PROFILE_MODAL.PER_USER </h4></label>
				<input class="form-check-input" type="checkbox" value="" id="onebyone"  ng-model="vm.onebyone">
			</div>
			</h3>
	</div>
	<div class="modal-body">
		<div class="form-group" ng-class="{ 'has-error': form.new_profile_id.$error.required && form.$submitted && !vm.onebyone}">
			<label for="new_profile_id" class="control-label"><h4 translate> USER_PROFILE_MODAL.NEW_PROFILE</h4></label> 
			<select name="new_profile_id" id="new_profile_id" ng-disabled="vm.onebyone" class="form-control input-sm" ng-model="vm.userProfileId" ng-required="!vm.onebyone">
      			<option ng-repeat="profile in vm.profiles" ng-value="profile.id">{{profile.name}}</option>
    			<option value="" disabled hidden selected>{{ 'USER_PROFILE_MODAL.SELECT.VALUE' | translate }}</option>
    		</select>
    		<div ng-show="form.$submitted || form.new_profile_id.$touched" class="help-block">
		      <div ng-show="form.new_profile_id.$error.required && !vm.onebyone" translate>USER_PROFILE_MODAL.SELECT.ERROR</div>
		    </div>
		</div>
		<div ng-show="vm.onebyone">
			<hr>
			<div ng-repeat="user in vm.users" >
				<div class="form-group" ng-class="{ 'has-error': form.new_profile_id{{$index}}.$error.required && form.$submitted && vm.onebyone}">
					<label for="new_profile_id{{$index}}" class="control-label">{{user.firstname}} {{user.lastname}}:</label>
					<select name="new_profile_id{{$index}}"  id="new_profile_id{{$index}}" class="form-control input-sm" ng-model="user.new_profile_id" ng-required="vm.onebyone">
  						<option ng-repeat="profile in vm.profiles" ng-value="profile.id">{{profile.name}}</option>
						<option value="" disabled hidden selected>{{ 'USER_PROFILE_MODAL.SELECT.VALUE' | translate }}</option>
					</select>
					<div ng-show="form.$submitted || form.new_profile_id{{$index}}.$touched" class="help-block">
				      <div ng-show="form.new_profile_id{{$index}}.$error.required && vm.onebyone" translate>USER_PROFILE_MODAL.SELECT.ERROR</div>
				    </div>
	    		</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
	    <button class="btn btn-primary" type="submit" ng-click="vm.confirm(form)">Confirmar</button>
	    <button class="btn btn-warning" type="submit" ng-click="vm.cancel()">Cancelar</button>
	</div>
</form> 
