<toaster-container></toaster-container>
<nav class="navbar navbar-inverse">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="" ui-sref="user-list">Lauti app</a>
		</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li lau-acl-check="['users-full', 'users-read_only']">
						<a ui-sref="user-list">{{'LAYOUT.USERS' | translate}} <span class="sr-only">(current)</span></a>
					</li>
					<li lau-acl-check="['user-profiles-full', 'user-profiles-read_only']">
						<a ui-sref="user-profile-list">{{'LAYOUT.USER_PROFILES' | translate}}</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{vm.user.firstname}} {{vm.user.lastname}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="" ui-sref="personal-info({id: vm.user.id})">
									{{'LAYOUT.PROFILE' | translate}}
								</a>
								<a href="" ui-sref="message-panel">
									{{'LAYOUT.MESSAGES' | translate}} <span ng-show="vm.unread > 0" class="label label-primary pull-right">{{vm.unread}}</span>
								</a>
								<a href="" ng-click="vm.logout()">
									{{'LAYOUT.LOGOUT' | translate}}
								</a>
							</li>
							<li class="text-center">
								<span class="navbar-text">{{'LAYOUT.LANGUAGE' | translate}}
									<a href="" ng-click="vm.language('en')" >
										<img src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png" alt="..." height="12" width="20">
									</a> | <a href="" ng-click="vm.language('es')">
										<img src="https://cdn.countryflags.com/thumbs/spain/flag-400.png" alt="..." height="12" width="20">
									</a>
								</span>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->

	</div><!-- /.container -->
</nav>


<div class="container bottom-padding">
	<div ui-view></div>
</div>
<!-- Footer -->
