<h2 translate> USERS_LIST.HEADLINE </h2>		

<br>

<form name="listForm" class="form-inline text-center breadcrumb row" (keydown.enter)="vm.filtrar()"  ng-submit="vm.filtrar()">
		<div class="form-group col-md-3">
			<label for="username" translate>USERS_LIST.FILTER.USER.LABEL</label>
			<input type="text" class="form-control input-sm" id="username" translate-attr="{ placeholder: 'USERS_LIST.FILTER.USER.PLACEHOLDER' }" ng-model="vm.filter_username" ng-keydown="vm.filtrar();">
		</div>
		<div class="form-group col-md-4">	
			<label for="country_code" translate>USERS_LIST.FILTER.COUNTRY.LABEL</label>
			<select name="country_code"  id="country_code" ng-model="vm.filter_country_code" class="form-control input-sm">
	      		<option value="{{c.code}}" translate>USERS_LIST.FILTER.COUNTRY.PLACEHOLDER</option>
	      		<option ng-repeat="c in vm.countries" value="{{c.code}}">{{c.name}}</option>
	    	</select>
	    </div>	
		<div class="form-group col-md-4">	
			<label for="paginate" translate>USERS_LIST.FILTER.USER_PER_PAGE</label>
	      	<input type="number" class="form-control input-sm" id="paginate" name="paginate" ng-model="vm.filter_paginate" required>
	    </div>	
		<div class="form-group col-md-1">
			<button type="submit" class="pull-right btn btn-default btn-sm" translate>USERS_LIST.FILTER.BUTTON</button>
		</div>
</form>

<span ng-show="vm.users.length == 0" translate="">USERS_LIST.FILTER.ERROR</span>

<ng-bind-html ng-bind-html="vm.html" compile-template></ng-bind-html>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li ng-class="{ 'disabled': vm.filter_page == 1 }">
      <a href="" ng-click="vm.previousPage()" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="pag in vm.pages" value="pag" ng-class="{'active': vm.filter_page == pag}"><a href="" ng-click="vm.setPage(pag)">{{pag}}</a></li>
    <li ng-class="{ 'disabled': vm.filter_page == vm.last_page }">
      <a href="" ng-click="vm.nextPage()" aria-label="Proxima">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<resize fn="vm.resize"></resize>