<table class="table table-striped table-hover">
	<tr>
		<th class="text-center" translate> USERS_LIST.TABLE.ATRIBUTES </th>
		<th class="text-center" translate> USERS_LIST.TABLE.USERS </th>
	</tr>

	<tr ng-repeat-start="user in vm.users">
		<td colspan="2"> {{user.firstname}} {{user.lastname}} # {{user.id}} 
			<span lau-acl-check="['users-full']" class="pull-right">
				<a lau-level-check="user.user_profile.level" ui-sref="user-edit({id: user.id})" aria-label="Left Align">
				  <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				<a lau-level-check="user.user_profile.level" ng-click="vm.auxconfirm(user)" aria-label="Left Align">
				  <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a>
			</span>
		</td>
	</tr>
	<tr ng-repeat-end>
		<td class="text-left"> 
			{{'USERS_LIST.TABLE.FIRSTNAME' | translate}} <br>
			{{'USERS_LIST.TABLE.LASTNAME' | translate}} <br>
			{{'USERS_LIST.TABLE.EMAIL' | translate}} <br>
			{{'USERS_LIST.TABLE.CITY' | translate}} <br>
			{{'USERS_LIST.TABLE.COUNTRY' | translate}} <br>
			{{'USERS_LIST.TABLE.USER_PROFILE' | translate}}
		</td>
		<td class="text-right"> 
			<span ng-bind="user.firstname"> </span> <br>
			<span ng-bind="user.lastname"> </span> <br>
			<span ng-bind="user.email"> </span> <br>
			<span ng-bind="user.city"> </span> <br>
			<span ng-bind="user.country.name"> </span> <br>
			<span ng-bind="user.user_profile.name"> </span>			
		</td>
	</tr>
</table>
