<lautable sorting-fn="vm.sorting" ng-show="vm.users.length > 0">
	<table class="table table-bordered table-hover">
		<tr>
			<th><laucolum field="id" name="{{'USERS_LIST.TABLE.ID' | translate}}"></laucolum></th>
			<th><laucolum field="firstname" name="{{'USERS_LIST.TABLE.FIRSTNAME' | translate}}"></laucolum></th>
			<th><laucolum field="lastname" name="{{'USERS_LIST.TABLE.LASTNAME' | translate}}"></laucolum></th>
			<th><laucolum field="email" name="{{'USERS_LIST.TABLE.EMAIL' | translate}}"></laucolum></th>
			<th><laucolum field="city" name="{{'USERS_LIST.TABLE.CITY' | translate}}"></laucolum></th>
			<th><laucolum field="country_code" name="{{'USERS_LIST.TABLE.COUNTRY' | translate}}"></laucolum></th>
			<th><laucolum field="user_profile_id" name="{{'USERS_LIST.TABLE.USER_PROFILE' | translate}}"></laucolum></th>
			<th lau-acl-check="['users-full']">{{'USERS_LIST.TABLE.EDIT' | translate}}</th>
			<th lau-acl-check="['users-full']">{{'USERS_LIST.TABLE.DELETE' | translate}}</th>
		</tr>
		<tr ng-repeat="user in vm.users">
			<td ng-bind="user.id"></td>
			<td ng-bind="user.firstname"></td>
			<td ng-bind="user.lastname"></td>
			<td ng-bind="user.email"></td>
			<td ng-bind="user.city"></td>
			<td ng-bind="user.country.name"></td>
			<td ng-bind="user.user_profile.name"></td>
			<td lau-acl-check="['users-full']"><a lau-level-check="user.user_profile.level" ui-sref="user-edit({id: user.id})" >{{'USERS_LIST.TABLE.EDIT' | translate}}</a></td>
			<td lau-acl-check="['users-full']"><a lau-level-check="user.user_profile.level" href="" ng-click="vm.auxconfirm(user)" >{{'USERS_LIST.TABLE.DELETE' | translate}}</a></td>
			
		</tr>
	</table>
</lautable>