<div class="modal-header">
	<h3 translate>MODAL.HEADLINE</h3>
</div>

<div class="modal-body" id="modal-body">
	<h4> {{vm.text | translate}} </h4>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.confirm()" translate>MODAL.CONFIRM</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()" translate>MODAL.CANCEL</button>
</div>
