<h2>
	{{'MESSAGES_LIST.HEADLINE' | translate}} <button ui-sref="new-message" class="btn pull-right btn-primary" type="button" translate>MESSAGES_LIST.BUTTON</button>
</h2>		

<br>

<table class="table table-hover" ng-show="vm.messages.length > 0">
	<tr>
		<th translate>MESSAGES_LIST.SUBJECT</th>
		<th translate>MESSAGES_LIST.AUTHOR</th>
		<th translate>MESSAGES_LIST.DATE</th>
		<th translate>MESSAGES_LIST.DELETE</th>
		<th translate>MESSAGES_LIST.ID</th>
	</tr>
	<tr ng-repeat-start="message in vm.messages">
		<td class="col-md-7"><a href="" ng-click="vm.read(message)">{{message.subject}}<span ng-show="!message.read"  class="label label-primary pull-right" translate>MESSAGES_LIST.NEW</span></a></td>
		<td class="col-md-1" ng-bind="message.sender.email"></td>
		<td class="col-md-2" ng-bind="message.created_at"></td>
		<td class="col-md-1"><a href="" ng-click="vm.eliminar(message.id)" translate>MESSAGES_LIST.DELETE</a></td>
		<td class="col-md-1" ng-bind="message.id"></td>
	</tr>
	<tr ng-repeat-end>
		<td ng-show="message.expand" colspan="5"><div class="well well-sm">{{message.message}}</div></td>
	</tr>
</table>