<h2>
  {{'MESSAGES_NEW.HEADLINE' | translate}} <button ui-sref="message-panel" class="btn pull-right btn-primary" type="button" translate> MESSAGES_NEW.BUTTON.RETURN </button>
</h2>   
<br>
<form>
  <div class="form-group">
    <label class="control-label" for="name" translate>MESSAGES_NEW.SUBJECT.LABEL</label>
    <input type="text" class="form-control" id="subject" ng-model="vm.message.subject" translate-attr="{placeholder: 'MESSAGES_NEW.SUBJECT.PLACEHOLDER'}">
  </div>
  <div class='typeahead form-group'>
    <label class="control-label" for="recipient_id" translate>MESSAGES_NEW.RECIPIENT.LABEL</label>
    <input id="recipient_id" type="text" ng-model="vm.recipient" translate-attr="{placeholder: 'MESSAGES_NEW.RECIPIENT.PLACEHOLDER'}" 
      uib-typeahead="email as email.email for email in vm.emails | filter:$viewValue | limitTo:8" class="form-control">
  </div>
  <div class="form-group">
    <label for="message" translate>MESSAGES_NEW.MESSAGE.LABEL</label>
    <textarea class="form-control" id="message" ng-model="vm.message.message" rows="4" translate-attr="{placeholder: 'MESSAGES_NEW.MESSAGE.PLACEHOLDER'}"></textarea>
  </div>
  <button type="submit" ng-click="vm.grabar(form)" class="btn btn-primary pull-right" translate> MESSAGES_NEW.BUTTON.SEND </button>
</form>