<h2>
	{{'USER_PROFILE_EDIT.HEADLINE' | translate}} {{vm.profilename}}
</h2>
<form  name="form" novalidate>

	<lauinput id="name" label="{{'USER_PROFILE_EDIT.NAME' | translate}}" model="vm.userProfile.name" type="text"></lauinput>
	<lauinput id="level" label="{{'USER_PROFILE_EDIT.LEVEL' | translate}}" model="vm.userProfile.level" type="number"></lauinput>

	<h3 translate>USER_PROFILE_EDIT.ACL</h3>
	<div ng-repeat="acl in vm.userProfile.acls" class="form-group col-md-4 inline">
		<label>{{acl.module}}</label>
		<select name="userProfileAccess"  class="form-control" ng-model="acl.access_type">
			<option ng-repeat="access_type in vm.access_type" ng-value="access_type.code">{{access_type.name}}</option>
		</select>
	</div>

	<button type="submit" ng-click="vm.grabar(form)" class="btn btn-primary pull-right" translate>USER_PROFILE_EDIT.BUTTON</button>
</form>
 