<h2> {{'USER_PROFILE_LIST.HEADLINE' | translate}}
	<span class="pull-right"><a class="btn btn-primary" ui-sref="user-profile-new" translate> USER_PROFILE_LIST.BUTTON </a></span>
</h2>
<br>

<ng-bind-html ng-bind-html="vm.html" compile-template></ng-bind-html>

<resize fn="vm.resize"></resize>