<table class="table table-striped table-bordered table-hover" ng-show="vm.userProfiles.length > 0">
	<tr>
		<th translate>USER_PROFILE_LIST.TABLE.ID</th>
		<th translate>USER_PROFILE_LIST.TABLE.NAME</th>
		<th translate>USER_PROFILE_LIST.TABLE.LEVEL</th>
		<th translate>USER_PROFILE_LIST.TABLE.USER</th>
		<th translate>USER_PROFILE_LIST.TABLE.USER_PROFILE</th>
		<th lau-acl-check="['user-profiles-full']">{{'USER_PROFILE_LIST.TABLE.EDIT' | translate}}</th>
		<th lau-acl-check="['user-profiles-full']">{{'USER_PROFILE_LIST.TABLE.DELETE' | translate}}</th>
	</tr>

	<tr ng-repeat="userProfile in vm.userProfiles">
		<td ng-bind="userProfile.id"></td>
		<td ng-bind="userProfile.name"></td>
		<td ng-bind="userProfile.level"></td>
		<td ng-repeat="acl in userProfile.acls" ng-bind="acl.access_type">	</td>
		<td lau-acl-check="['user-profiles-full']"><a lau-level-check="userProfile.level" ui-sref="user-profile-edit({id: userProfile.id})">{{'USER_PROFILE_LIST.TABLE.EDIT' | translate}}</a></td>
		<td lau-acl-check="['user-profiles-full']"><a lau-level-check="userProfile.level" href="" ng-click="vm.auxconfirm(userProfile)">{{'USER_PROFILE_LIST.TABLE.DELETE' | translate}}</a></td>
	</tr>
</table>