<table class="table table-striped table-hover">
	<tr>
		<th class="text-center" translate> USER_PROFILE_LIST.TABLE.ATRIBUTES </th>
		<th class="text-center" translate> USER_PROFILE_LIST.TABLE.PROFILES </th>
	</tr>

	<tr ng-repeat-start="userProfile in vm.userProfiles">
		<td colspan="2"> {{userProfile.name}} # {{userProfile.id}} 
			<span lau-acl-check="['user-profiles-full']" class="pull-right">
				<a lau-level-check="userProfile.level" ui-sref="user-profile-edit({id: userProfile.id})" aria-label="Left Align">
				  <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				<a lau-level-check="userProfile.level" href="" ng-click="vm.auxconfirm(userProfile)" aria-label="Left Align">
				  <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a>
			</span>
		</td>
	</tr>
	<tr ng-repeat-end>
		<td class="text-left"> 
			{{'USER_PROFILE_LIST.TABLE.NAME' | translate}} <br>
			{{'USER_PROFILE_LIST.TABLE.LEVEL' | translate}} <br>
			{{'USER_PROFILE_LIST.TABLE.USER' | translate}} <br>
			{{'USER_PROFILE_LIST.TABLE.USER_PROFILE' | translate}}
		</td>
		<td class="text-right"> 
			<span ng-bind="userProfile.name"> </span> <br>
			<span ng-bind="userProfile.level"> </span> <br>
			<div ng-repeat="acl in userProfile.acls"> 
				<span ng-bind="acl.access_type"></span>
			</div> 
		</td>
	</tr>
</table>