div.profile {
	column-count: 4;
	column-gap: 40px;
 	column-rule: 1px solid;
}

div.profile-img {
	display: inline-block;
	width: 250px;
	height: 250px;
	column-span: 1;
}

div.profile-desc h3 {
	display: inline;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 10px;
    column-span: 3;
}

div.profile-desc span {
    font-size: 20px;
    margin-bottom: 25px;
}

div.bottom-padding {
	padding-bottom: 50px;
}

@media screen and (max-width: 480px) and (orientation: portrait){

    html { 
        max-width: 480px;
    }
}