<br/>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="jumbotron">
			<h1 class="display-4" translate>LOGIN.HEADLINE</h1>
			<p class="lead">
				{{'LOGIN.TEXT.LABEL' | translate}} <a ui-sref='registration' translate> LOGIN.TEXT.REGISTER </a>
			</p>
				<div ng-repeat="error in vm.errors">	
					<h4> <div class="label label-danger" role="alert"> 
						<strong> LOGIN.POPUP </strong> <span ng-bind="error"></span>
					</div>
				</div> </h4>
			<hr class="my-4">
			<form ng-submit="vm.login()">
				<div class="form-group">
					<label for="email" translate>LOGIN.MAIL.LABEL</label>
					<input type="text" class="form-control" id="email" translate-attr="{ placeholder: 'LOGIN.MAIL.PLACEHOLDER' }" ng-model="vm.user.email">
				</div>
				<div class="form-group">
					<label for="password" translate>LOGIN.PASSWORD.LABEL</label>
					<input type="password" class="form-control" id="password" translate-attr="{ placeholder: 'LOGIN.PASSWORD.PLACEHOLDER' }" ng-model="vm.user.password">
				</div>
				<p class="lead">
					<button type="submit" class="btn btn-primary btn-lg" translate>LOGIN.BUTTON</button>
				</p>
				<div class="checkbox">
  					<label><input type="checkbox" value="" ng-model="vm.user.remember_me">{{'LOGIN.CHECK' | translate}}</label>
				</div>
			</form>
		</div>
	</div>
</div>
