<br/>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="jumbotron">
			<h1 class="display-4" translate>REGISTER.HEADLINE</h1>
			<p class="lead">
				{{'REGISTER.TEXT.LABEL' | translate}} <a ui-sref='login' translate>REGISTER.TEXT.LOGIN</a>
			</p>
			<div ng-repeat="error in vm.errors">	
					<h4> <div class="label label-danger" role="alert"> 
						<strong translate> REGISTER.POPUP </strong> <span ng-bind="error"></span>
					</div>
				</div> </h4>
			<hr class="my-4">
			<form name="form" novalidate>

				<lauinput id="email" label="{{'REGISTER.EMAIL' | translate}}" model="vm.user.email" type="email"></lauinput>
				<lauinput id="password" label="{{'REGISTER.PASSWORD' | translate}}" model="vm.user.password" type="password"></lauinput>
				<lauinput id="password_confirmation" label="{{'REGISTER.PASSWORD_CONFIRMATION' | translate}}" model="vm.user.password_confirmation" type="password"></lauinput>
				<lauinput id="firstname" label="{{'REGISTER.FIRSTNAME' | translate}}" model="vm.user.firstname" type="text"></lauinput>
				<lauinput id="lastname" label="{{'REGISTER.LASTNAME' | translate}}" model="vm.user.lastname" type="text"></lauinput>
				<lauinput id="city" label="{{'REGISTER.CITY' | translate}}" model="vm.user.city" type="text"></lauinput>				
				<lauselect id="country_code" label="{{'REGISTER.COUNTRY_CODE' | translate}}" model="vm.user.country_code" items="vm.countries" value="code" name="name"></lauselect>
				<p class="lead">
					<button type="submit" ng-click="vm.regist(form)" class="btn btn-primary btn-lg" translate>REGISTER.BUTTON</button>
				</p>

			</form>
		</div>
	</div>
</div>|