<h2>
	Edicion de {{vm.user.firstname}} {{vm.user.lastname}} 
</h2> 
<form name="form" novalidate>
	
	<lauinput id="firstname" label="{{'USERS_EDIT.FIRSTNAME' | translate}}" model="vm.user.firstname" type="text"></lauinput>
	<lauinput id="lastname" label="{{'USERS_EDIT.LASTNAME' | translate}}" model="vm.user.lastname" type="text"></lauinput>
	<lauinput id="city" label="{{'USERS_EDIT.CITY' | translate}}" model="vm.user.city" type="text"></lauinput>
	<lauinput id="email" label="{{'USERS_EDIT.EMAIL' | translate}}" model="vm.user.email" type="email"></lauinput>
	<lauselect id="country_code" label="{{'USERS_EDIT.COUNTRY' | translate}}" model="vm.user.country_code" items="vm.countries" value="code" name="name"></lauselect>
	<button type="submit" ng-click="vm.grabar(form)" class="btn btn-primary" translate>USERS_EDIT.BUTTON</button>
</form> 



