<h2>
	{{'PERSONAL_INFO.HEADLINE' | translate}} {{vm.user.firstname}} {{vm.user.lastname}}
  <span class="pull-right"><a class="btn btn-primary" ui-sref="personal-info-edit" translate>PERSONAL_INFO.BUTTON</a></span>
</h2>
<br>

<div class="profile">
  <div class="profile-img">
    <span class="thumbnail">
      <img src="https://esrescue.org/wp-content/uploads/2019/04/Auggie-smile-250x250.jpg" alt="..." height="300" width="250">
    </span>
  </div>
  <div class="profile-desc">
    <span class="glyphicon glyphicon-user"></span> <h3> {{vm.user.firstname}} {{vm.user.lastname}} </h3> <br>
    <span class="glyphicon glyphicon-envelope"></span> <h3>{{vm.user.email}}</h3> <br>
    <span class="glyphicon glyphicon-map-marker"></span> <h3>{{vm.user.city}}</h3> <br>
  </div> 
</div>